html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

/* general styles */
a, li {
  list-style: none;
  text-decoration: none;
  text-transform: capitalize;
}

.button {
  background-image: linear-gradient(90deg, rgb(140, 218, 169) ,rgb(24, 236, 165));
  border-radius: 10px;
  text-transform: capitalize;
  color: white;
}

.inputField {
  height: 30px;
}