html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    /* background-color: rgb(220, 228, 230); */
}

a, li {
  list-style: none;
  text-decoration: none;
  text-transform: capitalize;
}

.button {
  background-image: linear-gradient(90deg, rgb(140, 218, 169) ,rgb(24, 236, 165));
  border-radius: 10px!important;
  text-transform: capitalize!important;
  color: white!important;
}

.delete-button {
  background-image: linear-gradient(90deg, rgb(218, 75, 75) ,rgb(186, 24, 236));
  border-radius: 10px!important;
  text-transform: capitalize!important;
  color: white!important;
}

.inputField {
  height: 30px;
}